html {
   scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-brand h1 {
    font-size: 40px;
    color: black;
}

.navbar-brand a h1 {
    color: black;
}

.navbar-brand a {
    text-decoration: none;
}

.nav .navbar-nav.navbar-right {
    overflow: hidden;
    float: left;
    margin-left: -50px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
}

.container .row {
    text-align: center;
} 

.container .row span {
    font-weight: bold;
    font-size: 20px;
}

.container .abow, .container .abo, .container .ab {
    border: 2px solid lightslategray;
    background-color: slategrey;
    margin: 10px 0;
    padding: 10px;
}

#nav-list li {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: -40px;
}

.navbar-toggle {
    position: absolute;
    top: 40px;
    right: 10px;
}

@media (max-width: 767px) {

    .navbar-brand h1 {
        font-size: 20px;
        margin-top: 8px;
    }

    #collapsable-nav ul {
        width: 50%;
        text-align: center;
        clear: both;
        margin-left: 130px;
    }

    #collapsable-nav ul li {
        display: block;
        float: none;
    }

    #nav-list .hidden-xs {
        background-color: black;
        height: 2px;
    }

    .container .abow, .container .abo, .container .ab {
        margin: 10px;
        width: 94%;
    }

    .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
        border: 1px solid black;
      }
      .navbar-header button.navbar-toggle {
        clear: both;
        margin-top: -30px;
      }

    .navbar-toggle {
        margin-left: 250px;
        margin-top: -40px;
        clear: both;
        display: block;
        position: absolute;
        padding: 9px 14px;
    }

    #nav-list {
        margin-top: 10px;
        display: inline-block;
        justify-content: center;
      }
      #nav-list a {
        color: black;
        text-align: center;
      }
      #nav-list a:hover {
        background: #E7E7E7;
      }
      #nav-list a span {
        font-size: 1.8em;
    }
}

@media (min-width: 768px) and (max-width: 2560px) {

    .container .abow, .container .abo, .container .ab {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
}